# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.Python
build/
dist/
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Env
.env
.env.local

# IDE
.vscode/
.idea/
